@font-face {
    font-family: titulo1;
    src: url(../../assets/fonts/SuperMario256.ttf);
}

.titulo1{
    font-family: "titulo1";
    color: rgb(12, 118, 240);
}

@font-face {
    font-family: subtitulo1 ;
    src: url(../../assets/fonts/spacetime-regular.ttf);
}

.titulo2{
  font-family: "titulo1";
  color: rgb(54, 165, 26);
}


.team-members {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.member-card {
  position: relative;
  width: 30%;
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.member-card:hover {
  transform: translateY(-5px);
}

.member-card:hover .member-details {
  transform: translateY(-50%);
}

.member-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.member-name {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.member-role {
  font-size: 18px;
  margin: 0;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.2);
}


.contact img {
  max-width: 150px;
  height: auto;
  transition: transform 0.5s;
}

.contact img:hover {
  transform: rotate(360deg);
}
