<section id="Quehacemos">
  <br>
  <br>
  <br>

<h1 class="center align" ngClass="titulo1">Que hacemos?</h1>
<br>
<br>
<br>
<br>
<div class="main">
    <div class="container">
      <h1 class="title" ngClass="titulo2">Recitub - Sistemas de Ahorro de Agua Grises</h1>
      <p class="description" ngClass="titulo3">Somos una microempresa dedicada a la elaboración de sistemas de ahorro de agua grises para casas, departamentos, empresas, etc. Nuestro objetivo es ayudar a las personas a ahorrar agua y contribuir al cuidado del planeta.</p>
      <p class="benefits" ngClass="titulo2">Los beneficios que puedes obtener al tener Recitub son:</p>
      <ul>
        <li ngClass="titulo3">*Contribución al cuidado del medio ambiente y la conservación de los recursos hídricos.</li>
        <li ngClass="titulo3">*Reducción de la huella de carbono al disminuir el consumo de agua y la energía necesaria para tratarla.</li>
        <li ngClass="titulo3">*Mejora de la calidad del agua al utilizar agua gris tratada en aplicaciones no potables como riego de jardines y limpieza.</li>
        <li ngClass="titulo3">*Posibilidad de obtener incentivos fiscales u otros beneficios gubernamentales relacionados con la implementación de tecnologías de ahorro de agua.</li>
        <li ngClass="titulo3">*Cumplimiento de regulaciones y normativas ambientales relacionadas con la eficiencia en el uso del agua.</li>
      </ul>
    </div>
    <div class="image-container">
      <img src="../../assets/img/g5.jpeg" alt="Imagen ilustrativa del sistema de ahorro de agua grises">
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

</section>