
<section id="mision">
    <div class="container"><br>
        <br>
        <div class="row"><br>
            <br>
            <div class="col s12"><br>
                <br>
                <br>
    <br>
                <h1 ngClass="titulo1">Mision</h1>
                <h3 ngClass="titulo2">  Nuestra misión es promover el uso responsable del agua y reducir su desperdicio, fomentando hábitos de ahorro y conciencia ambiental en la sociedad. Buscamos contribuir a la prevención de sequías y a garantizar el acceso equitativo al recurso hídrico.</h3>
                <br>
    <br>
                <h1 ngClass="titulo1">Vision</h1>
                <h3 ngClass="titulo2">Poder ser una empresa altamente reconocida y llegar a más lugares</h3>

            </div><br>
            <br>
        </div><br>
        <br>
    </div>
    <br>
    <br>
</section>
