<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="68" y="0" fill="rgba(255,255,050,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,070,255,0.5)" />
<use xlink:href="#gentle-wave" x="28" y="5" fill="rgba(25,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="18" y="7" fill="#20gheg" />
</g>
</svg>


      <footer id="redes">
        <div class="social-icons" >
          <a href="https://www.facebook.com/profile.php?id=100092347375784" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/recitubb/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <p>copyright © </p>
          
        </div>
        <p class="center align">Tel:5586170294 </p>
        <p class="center align" >lun-dom 7:00am a 6:00pm</p>
       
      </footer>