<nav class="navbar-fixed">
    <div class="nav-wrapper purple darken-4">
      <a href="#" class="brand-logo"><img src="../../assets/img/logo1.png"></a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#inicio">{{Inicio}}</a></li>
        <li><a href="#mision">{{Misionyvison}}</a></li>
        <li><a href="#Quehacemos">{{Quehacemos}}</a></li>
          <li><a href="#equipo">{{Equipodetrabajo}}</a></li>
          <li><a href="#formulario">{{Formulario}}</a></li>
          <li><a href="#redes">{{Redessociales}}</a></li>
          
          
          
      </ul>
    </div>        
  </nav>
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
       
        <iframe width="560" height="315" src="../../assets/img/back.gif" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
      </div>
      <a href="#user"><img class="circle" src="../../assets/img/logo1.png" alt=""></a>
      </div></li>
      <li><a class="waves-effect" href="#inicio" onclick="cerrarMenu()"><i class="material-icons">home</i>{{Inicio}}</a></li>
      <li><a class="waves-effect" href="#mision" onclick="cerrarMenu()"><i class="far fa-eye"></i>{{Misionyvison}}</a></li>
      <li><a class="waves-effect" href="#Quehacemos" onclick="cerrarMenu()"><i class="fas fa-question"></i>{{Quehacemos}}</a></li>
      <li><a class="waves-effect" href="#equipo" onclick="cerrarMenu()"><i class="fas fa-users"></i>{{Equipodetrabajo}}</a></li>
      <li><a class="waves-effect" href="#formulario" onclick="cerrarMenu()"><i class="fas fa-align-left"></i>{{Formulario}}</a></li>
      <li><a class="waves-effect" href="#redes" onclick="cerrarMenu()"><i class="fas fa-share-alt fa-spin"></i>{{Redessociales}}</a></li>
  </ul>
  
